  <table>
  <% Listing.column_names.sort.each_slice(4) do |columns| %>
    <tr>
    <% columns.each do |column| %>
      <td>
      <b><%=column.to_s%>:</b>
      <%= @listing.send(column) %>
      </td>
    <%end%>
    </tr>
  <% end %>
  </table>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
