<h1>Listing accommodations</h1>

<% form_tag yacht_accommodation_path(params[:yacht_id], 0), :method=> :put do -%>
  <div id="accommodation_list">
    <%= render :partial=> "edit", :collection=>@accommodations %>
  </div>
  <%= submit_tag "Update" %>
<% end  -%>
<%= link_to_remote 'New accommodation', :update=>"accommodation_list", :position=>:bottom, :url=> yacht_accommodations_path, :method=>:post %>


