<p>
  <b>Title:</b>
  <%=h @accommodation.title %>
</p>

<p>
  <b>Content:</b>
  <%=h @accommodation.content %>
</p>


<%= link_to 'Edit', edit_yacht_accommodation_path(@accommodation.yacht.id, @accommodation.id) %> |
<%= link_to 'Back', yacht_accommodations_path %>
