<p class="emphasis">Advertise and manage your listings for free.</p>
<table>

<tr>
<td><%= image_tag 'code.gif' %></td>
<td>
  <b>Widget</b><br/>
  Embed a free <%= link_to 'widget', widgets_path %> in your personal web page to display the
  yachts for sale of your choice.
</td>
</tr>

<tr>
<td><%= image_tag 'blocks.gif' %></td>
<td>
  <b>Growth</b><br/>
  Increase your listings by partnering with owners.
</td>
</tr>

</table>
