<p class="emphasis">Advertise and manage your listings for free.</p>
<table>

<tr>
<td><%= image_tag 'code.gif' %></td>
<td>
  <b>Widget</b><br/>
  Embed a free widget in your personal web page to display the
  yachts for sale of your choice.
</td>
</tr>

<tr>
<td><%= image_tag 'blocks.gif' %></td>
<td>
  <b>Growth</b><br/>
  Increase your listings by making advertising partnerships
  with yachts for sale by owners.
</td>
</tr>

</table>
