<p class="emphasis">Transfer information between listing systems for free.</p>
<table>

<tr>
<td><%= image_tag 'transfer.gif' %></td>
<td>
  <b>Coming Soon...</b><br/>
  Use the Yacht Transmission Standard
  with conforming systems to securely push and pull data.
</td>
</tr>

</table>
