<p class="emphasis">Get quality advertising for your yacht.</p>
<table>

<tr>
<td><%= image_tag 'gorilla.gif' %></td>
<td>
  <b>Marketing</b><br/>
  Guerilla market your yacht on brokerage pages throughout the web.
</td>
</tr>

<tr>
<td><%= image_tag 'wolf.gif' %></td>
<td>
  <b>Flexibility</b><br/>
  Keep your independence while getting leads from talented brokers.
</td>
</tr>

<td><%= image_tag 'tools.gif' %></td>
<td>
  <b>Tools</b><br/>
  Quickly upload your photos and auto-load in specifications.
</td>
</tr>

<tr>
<td><%= image_tag 'juggler.gif' %></td>
<td>
  <b>Community</b><br/>
  Find a brokerage to list with for more help selling your yacht.
</td>
</tr>
<tr>

</table>
