<h1>Listing multiple_listing_systems</h1>

<table>
  <tr>
  </tr>

<% for multiple_listing_system in @multiple_listing_systems %>
  <tr>
    <td><%= link_to 'Show', multiple_listing_system %></td>
    <td><%= link_to 'Edit', edit_multiple_listing_system_path(multiple_listing_system) %></td>
    <td><%= link_to 'Destroy', multiple_listing_system, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New multiple_listing_system', new_multiple_listing_system_path %>
