<h1>New multiple_listing_system</h1>

<% form_for(@multiple_listing_system) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', multiple_listing_systems_path %>
