<h1>Listing pictures</h1>

<% form_tag yacht_picture_path(params[:yacht_id], 0), :method=> :put do -%>
    <div id="picture_list">
      <%= render :partial=> "edit", :collection=>@pictures %>
    </div>
    <%= submit_tag "Update" %>
<% end  -%>

<div id="uploader" style="background-color:lavender">
<%= render_partial 'new' %>
</div>
