<script type='text/javascript'>
  var swfu;
  window.onload = function () {
    swfu = new SWFUpload({
      // Create the custom swfupload_photos_path in the routes.rb file
      upload_url : '<%= listing_photos_path -%>?_yacht_manager_session=<%= u session.session_id %>',
      flash_url : '/assets/swfupload.swf',

      file_size_limit : '3072',
      file_types : '*.jpg',
      file_types_description : 'JPG Images',
      file_upload_limit : '0',

      file_queue_error_handler : fileQueueError,
      file_dialog_complete_handler : fileDialogComplete,
      upload_progress_handler : uploadProgress,
      upload_error_handler : uploadError,
      upload_success_handler : uploadSuccess,
      upload_complete_handler : uploadComplete,

      // Button Settings
      button_image_url : "/images/SmallSpyGlassWithTransperancy_17x18.png",
      button_placeholder_id : "spanButtonPlaceholder",
	button_width: 180,
	button_height: 18,
	button_text : '<span class="button">Select Images <span class="buttonSmall">(2 MB Max)</span></span>',
	button_text_style : '.button { font-family: Helvetica, Arial, sans-serif; font-size: 12pt; } .buttonSmall { font-size: 10pt; }',
	button_text_top_padding: 0,
	button_text_left_padding: 18,
	button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
	button_cursor: SWFUpload.CURSOR.HAND,

      <% if protect_against_forgery? %>
      post_params : {
        authenticity_token : '<%= u form_authenticity_token -%>'
      },
      <% end %>

      custom_settings : { 
        upload_target : 'divFileProgressContainer'
      },

      debug: false

    });
  };
</script>

<div style="text-align: left; margin: 0px 10px;">
  <div>
	<form>
		<div style="display: inline; border: solid 1px #7FAAFF; background-color: #C5D9FF; padding: 2px;">
			<span id="spanButtonPlaceholder"></span>
		</div>
	</form>
  </div>
  <div id="divFileProgressContainer" style="height: 75px;"></div>
  <div id="thumbnails"></div>
</div>
