<div id="main_content">
<% form_tag listing_photo_path(@listing, 0), :method=> :put do -%>
    <ol id="photo_list">
      <%= render :partial=> "edit", :collection=>@photos %>
    </ol>
<% end  -%>
</div>

<div id="uploader" style="clear: both">
<%= render_partial 'new' %>
</div>

<%= sortable_element :photo_list, :url => { :action => 'order', :listing_id=>@listing.id } %>

