<div id="main_content">
<h1>Listing photos</h1>

<% form_tag listing_photo_path(@listing, 0), :method=> :put do -%>
    <ul id="photo_list">
      <%= render :partial=> "edit", :collection=>@photos %>
    </ul>
<% end  -%>
</div>

<div id="uploader" style="clear: both; background-color:lavender">
<%= render_partial 'new' %>
</div>

<%= sortable_element :photo_list, :url => { :action => 'order', :listing_id=>@listing.id } %>

