<div id ="left_content">
<p>
  <b>Listing:</b>
  <%=h @upload.listing_id %>
</p>

<p>
  <b>Account:</b>
  <%=h @upload.account_id %>
</p>

<%= link_to 'Edit', edit_transfer_path(@upload) %> |
<%= link_to 'Back', transfers_path %>
</div>
